{% extends "blog/base.html" %}
{% block content %}
<style>

</style>
<div class="home-section">
    <div class="border-1">
        <div class="container-max-3">
            <div class="container-max-3 border-1-text">
                <center><p style="padding-top: 20px; color: white;"><h2>О нас</h2></p></center>
                <center><p style="padding-bottom: 10px;"><strong>Кто мы?</strong> - Мы молодые разработчики, студенты 2 курса.</p></center>
                <center><p style="padding-bottom: 10px;"><strong>О форуме</strong> - Форум <strong>RAM IT</strong> в основном предназначен для людей, которое только начинают вникать в сферу IT и программирования!</p></center>
                <center><p style="padding-bottom: 20px;"><strong>В чем смысл? Какая цель?</strong> - В данном форуме будут различные статьи, например о том что надо знать чтобы быть в том или ином направлении, наша цель дать вам стартовые знания!</p></center>
                <center><p style="padding-bottom: 30px;"><strong>Вопрос #1 - Почему именно нас?</strong> В нашем форуме в будущем будут статьи, с различными советами как стать программистом, что надо изучать чтобы стать например Django или NodeJS разработчиком. Уникальность в том что вам не придется по миллиону раз читать статьи на разных сайтах, у нас будут ответы на практически все ваши вопросы о том что надо знать</p></center>
                <center style="padding-bottom: 30px;"><p><strong>Вопрос #2 - Для чего нужен форум?</strong> - Для начала, ответим на вопрос - что такое форум? 
                <p><strong style="color: rgb(214, 137, 255);">Форум (общение) — место (площадка) для общения и споров людей на различные темы жизни; также — собственно сам процесс общения. Веб-форум — класс веб-приложений для организации интернет-общения.</strong></p></p>
            <p>Таким образом можно понять, что наш форум идеально подходит и для самообучения и для обучения вместе. Например если вы изучили что то новое, но не можете понять какую то часть, то в нашем разделе <a style="color: rgb(61, 0, 94); font-weight: 600;" href="index2.html">форум</a> вы можете задать ваш вопрос, и получить ответ!</p></center>
            <center><p style="font-size: 20px; font-weight: 700;">С уважением - RAM IT</p></center>
            <p style="padding-bottom: 30px;"></p>
            </div>
        </div>
      </div>
</div>
{% endblock content %}